@model Assignment2.Models.ViewModels.ClientSubscriptionsViewModel

@{
    ViewData["Title"] = "Edit Subsciptions";
}

<h1>Edit Subscriptions</h1>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.FullName)
        </dd>
    </dl>
</div>

<table class="table">
    <tbody>
        @foreach (var item in Model.Subscriptions)
        {
            <tr>
                <td>
                   @item.Title
                </td>
                <td>
                    @if(!@item.IsMember){
                        <a asp-action="AddSubscriptions" asp-route-clientId="@Model.Client.Id" asp-route-brokerageId="@item.BrokerageId" >Register</a>
                    } else {
                        <a asp-action="RemoveSubscriptions" asp-route-clientId="@Model.Client.Id" asp-route-brokerageId="@item.BrokerageId">Unregister</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>