@*@model IEnumerable<Assignment2.Models.Client>*@
@model Assignment2.Models.ViewModels.BrokerageViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                LastName
            </th>
            <th>
                FirstName
            </th>
            <th>
                BirthDate
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model.Clients)
        {
            string selectedRow = "";
            if (ViewData["ClientId"] != null && item.Id == (int) ViewData["ClientId"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.Id">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    
    @*<tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.Id">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>*@
</table>

@if (Model.Subscriptions != null)
{
    <h3>
         Member of the following brokerages  
    </h3>
    <table class="table">
        <tr>
            @if (Model.Subscriptions.Count() > 0)
            {
                <th> Name </th>
            }
            else
            {
                <th>  No subscription record exist </th>
            }
        </tr>

        @foreach (var item in Model.Subscriptions)
        {
            <tr>
                <td>
                    @item.Brokerage.Title
                </td>
            </tr>
        }
    </table>
}